{% extends "rest_framework/base.html" %} 
{% load static %}
{% load i18n %}
{% load rest_framework %}



{% block navbar %}
<div class="header">
  <!-- Logo -->
    <!-- Logo (Favicon Image) -->
<!-- Logo (Favicon Image) -->
<a href="/" class="logo-link">
  <img src="{% static 'favicon/logo.png' %}" alt="Meal Prep Codex Logo" class="logo-image" />
  <div class="logo-text">
    <span class="logo-block">MEAL</span>
    <span class="logo-block">PREP</span>
    <span class="logo-block">CODEX</span>
  </div>
</a>



  <!-- Navigation -->
  <nav class="flex space-x-2 items-center navlinks">
    <div class="flex w-fit shadow-box-up rounded-xl dark:bg-box-dark dark:shadow-box-dark-out">
      <div class="dark:shadow-buttons-box-dark rounded-2xl w-full ">
        <button title="Go to post list page" class="text-gray-500 font-bold">
          <!-- Button to API -->
          <a href="{% url 'recipe_list' %}"> Recipes </a>
        </button>
        <button title="Go to post API page" class="text-gray-500 font-bold">
          <!-- Button to API -->
          <a href="/api/v1/"> API </a>
        </button>
        <button title="Go to post list page" class="text-gray-500">
          <!-- PayPal Button -->
          <a href="https://www.paypal.com/donate/?hosted_button_id=P49L3AK8RDVMN" class="text-sepia-light hover:text-gray-800 font-medium transition" target="_blank" title="Support me on PayPal">
            <i class="fab fa-paypal"></i>
          </a>
        </button>
        <button title="Go to about me page" class="text-gray-500 ">
          <a href="https://www.buymeacoffee.com/shoky" class="text-sepia-light hover:text-gray-800 font-medium transition" target="_blank" title="Buy me a coffee">
            <i class="fas fa-coffee"></i>
          </a>
        </button>
        {% block userlinks %}
        
        {% endblock %}

      </div>
    </div>
  </nav>
</div>
{% endblock %} 


{% block bodyclass %}
  bg-sepia-400
{% endblock %}

{% block content %}
  {% if name == 'Api Root' %}
  <div class="request-info mt-4" style="clear: both" aria-label="{% trans "request info" %}">
    <pre class="prettyprint"><b>{{ request.method }}</b> {{ request.get_full_path }}</pre>
  </div>  

  <div class="api-doc-container">
    <div class="doc-header">
      <h1 class="doc-title">Recipe API</h1>
      <p>The Recipe API provides access to a large collection of recipes from different cuisines worldwide.</p>
    </div>


 
    <div class="api-block">
      <h4>Example Request</h4>
      <pre class="prettyprint"><b>{{ request.method }}</b> api/v1/recipes?search=carbonara&cuisine=Italian</pre>
    </div>

    <div class="api-block">
      <h4>Parameters</h4>
      <ul class="parameter-list">
        <li>
          <h5><strong><code class="code">search</code></strong> <span class="required">optional</span></h5>
          <p>The search term for recipe names.</p>
        </li>
        <li>
          <h5><strong><code class="code">cuisine</code></strong> <span class="optional">optional</span></h5>
          <p>Filter results by cuisine type (e.g., Italian, Mexican).</p>
        </li>
        <li>
          <h5><strong><code class="code">course</code></strong> <span class="optional">optional</span></h5>
          <p>Filter by course type (e.g., dessert, maincourse, snack).</p>
        </li>
        <li>
          <h5><strong><code class="code">tag</code></strong> <span class="optional">optional</span></h5>
          <p>Filter by specific tags (e.g., air-fryer, sandwiches).</p>
        </li>
        <li>
          <h5><strong><code class="code">limit</code></strong> <span class="optional">optional</span></h5>
          <p>Set the maximum number of results (default: 5, max: 10).</p>
        </li>
        <li>
          <h5><strong><code class="code">offset</code></strong> <span class="optional">optional</span></h5>
          <p>Used for pagination. Skip a number of results.</p>
        </li>
      </ul>
    </div>

    <div class="api-block">
      <h4>Headers</h4>
      <ul class="header-list">
        <li>
          <h5><strong><code class="code">X-Api-Key</code></strong> <span class="required">required</span></h5>
          <p>API Key for authentication.</p>
        </li>
      </ul>
    </div>

    <h2 class="section-title">Retrieve a Specific Recipe</h2>
    <p>To get a recipe by its unique ID, use the following endpoint:</p>
    
    <div class="api-block">
      <h4>Example Request</h4>
      <pre class="prettyprint"><b>{{ request.method }}</b> /api/v1/recipes/48772c5b-1eaf-4c5a-9f6e-edec48267047/</pre>
    </div>


    <div class="api-block">
      <h4>Example Requests with curl</h4>
      <pre><code>curl -X GET "http://127.0.0.1:8000/api/v1/recipes?search=carbonara" -H "X-Api-Key: YOUR_API_KEY"</code></pre>
      <pre><code>curl -X GET "http://127.0.0.1:8000/api/v1/recipes/48772c5b-1eaf-4c5a-9f6e-edec48267047/" -H "X-Api-Key: YOUR_API_KEY"</code></pre>
    </div>

  </div>

  {% else %}
    {{ block.super }}
  {% endif %}

<!-- Footer -->
<!-- Footer -->
<footer class="footer">
  <div class="footer-container">
      
      <!-- Right: Social & Contact Buttons -->
      <div class="footer-buttons">
          <button title="Visit my LinkedIn" class="footer-button">
              <a href="https://www.linkedin.com/in/mohamed-el-mourabit-agharbi/" target="_blank">
                  <i class="fab fa-linkedin"></i>
              </a>
          </button>

          <button title="Visit my Portfolio" class="footer-button">
              <a href="https://mohamed-elmourabit.netlify.app/home" target="_blank">
                  <i class="fas fa-globe"></i>
              </a>
          </button>

          <button title="Send me an email" class="footer-button">
              <a href="mailto:mohamed.elmoag+mealprepcodex@gmail.com">
                  <i class="fas fa-envelope"></i>
              </a>
          </button>
      </div>

      <!-- Center: Copyright -->
      <p class="footer-copyright">&copy; 2025 Meal Prep Codex. Built with passion and curiosity.</p>

      <!-- Left: Navigation Links -->
      <div class="footer-links">
          <a href="{% url 'contact' %}" class="footer-link">Contact</a>
          <a href="{% url 'faq' %}" class="footer-link">FAQ</a>
          <a href="{% url 'about' %}" class="footer-link">About</a>
      </div>
  </div>
</footer>

  
{% endblock %}





{% block style %} 
    {% comment %} Favicon {% endcomment %}
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />
{% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="/static/custom.css" />

    {% comment %} Google Fonts {% endcomment %}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Rock+Salt&family=Ruslan+Display&display=swap" rel="stylesheet" />
{{ block.super }}

{% endblock %}
