{% extends "rest_framework/base.html" %} 
{% load static %}
{% load i18n %}
{% load rest_framework %}
{% block navbar %}
<div class="header">
  <!-- Logo -->
  <h1 class="text-2xl font-bold ">
    <a href="/" class="hover:text-gray-800 transition text-normal">My Recipe App</a>
  </h1>



  <!-- Navigation -->
  <nav class="flex space-x-2 items-center">
    <div class="flex w-fit shadow-box-up rounded-xl dark:bg-box-dark dark:shadow-box-dark-out">
      <div class="dark:shadow-buttons-box-dark rounded-2xl w-full">
        <button title="Go to post list page" class="text-gray-500 font-bold">
          <!-- Button to API -->
          <a href="{% url 'recipe_list' %}"> Recipes </a>
        </button>
        <button title="Go to post API page" class="text-gray-500 font-bold">
          <!-- Button to API -->
          <a href="/api/"> API </a>
        </button>
        <button title="Go to post list page" class="text-gray-500">
          <!-- PayPal Button -->
          <a href="https://www.paypal.com/donate/?hosted_button_id=P49L3AK8RDVMN" class="text-sepia-light hover:text-gray-800 font-medium transition" target="_blank" title="Support me on PayPal">
            <i class="fab fa-paypal"></i>
          </a>
        </button>
        <button title="Go to about me page" class="text-gray-500 ">
          <a href="https://www.buymeacoffee.com/shoky" class="text-sepia-light hover:text-gray-800 font-medium transition" target="_blank" title="Buy me a coffee">
            <i class="fas fa-coffee"></i>
          </a>
        </button>
        {% block userlinks %}
        
        {% endblock %}

      </div>
    </div>
  </nav>
</div>
{% endblock %} 


{% block bodyclass %}
bg-sepia-400
{% endblock %}




{% block style %} 
{% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="/static/custom.css" />
{{ block.super }}

{% endblock %}
