/* styles.css */

body {
    background-color: #feeed2; /* Soft sepia background */
  }

  .bg-sepia-800 {
    background-color: #705C53; /* Dark sepia for the header and footer */
  }
  .bg-sepia-700 {
    background-color: #dbc0a1; /* Dark sepia for the header and footer */
  }
  .bg-sepia-600 {
    background-color: #edd3b6; /* Dark sepia for the header and footer */
  }
  .bg-sepia-500 {
    background-color: #fae5c0; /* Dark sepia for the header and footer */
  }
  .bg-sepia-400 {
    background-color: #feeed2; /* Dark sepia for the header and footer */
  }
  .bg-sepia-300 {
    background-color: #fff3dd; /* Dark sepia for the header and footer */
  }
  .bg-sepia-200 {
    background-color: #fff5e4; /* Dark sepia for the header and footer */
  }
  .bg-sepia-100 {
    background-color: #fffcf6; /* Dark sepia for the header and footer */
  }
  
  .bg-azure-200 {
    background-color: #d9eafd; /* Dark sepia for the header and footer */
  }
  .bg-azure-100 {
    background-color: #f8fafc; /* Dark sepia for the header and footer */
  }
  
  .text-sepia-warn {
    color: #6d2323; /* Light sepia for text */
  }
  
  .text-normal {
    color: #2f1107; /* Light sepia for text */
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .icon {
    width: 1.5rem; /* Matches the `w-6` size (6 x 0.25rem) */
    height: 1.5rem; /* Matches the `h-6` size (6 x 0.25rem) */
    fill: none;
    stroke: currentColor;
    vertical-align: middle;
    stroke-width: 2;
  }
  
  /* Responsive styles for the header */
  @media (max-width: 768px) {
    .text-normal {
      font-size: 1rem; /* Adjust font size for smaller screens */
    }
  
    .max-w-7xl {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    .flex-col {
      flex-direction: column;
    }
  
    .mb-4 {
      margin-bottom: 1rem;
    }
  
    .w-full {
      width: 100%;
    }
  
    .space-x-2 {
      margin-top: 1rem;
    }
  }

 /* Default styles */
h1 {
  text-align: center;
  margin: 20px 0;
}

/* Font styles */

/* Rock Salt Font */
.rock-salt {
  font-family: 'Rock Salt', cursive;
  font-weight: 400; /* Default weight for Rock Salt */
}

/* Ruslan Display Font */
.ruslan-display {
  font-family: 'Ruslan Display', cursive;
  font-weight: 400; /* Default weight for Ruslan Display */
}

/* Example with the existing .roboto class (if needed) */
.roboto {
  font-family: 'Permanent Marker', cursive;
  font-weight: 700;
}
